## Install the MMM package
- Use install.packages to install the final app package and load it to namespace 
- The dependent packages are automatically loaded
- The data objects are also loaded with the library function

In [1]:
sessionInfo()

R version 3.6.3 (2020-02-29)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Debian GNU/Linux 10 (buster)

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/openblas/libblas.so.3
LAPACK: /usr/lib/x86_64-linux-gnu/libopenblasp-r0.3.5.so

locale:
 [1] LC_CTYPE=C.UTF-8       LC_NUMERIC=C           LC_TIME=C.UTF-8
 [4] LC_COLLATE=C.UTF-8     LC_MONETARY=C.UTF-8    LC_MESSAGES=C.UTF-8
 [7] LC_PAPER=C.UTF-8       LC_NAME=C              LC_ADDRESS=C
[10] LC_TELEPHONE=C         LC_MEASUREMENT=C.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

loaded via a namespace (and not attached):
 [1] fansi_0.4.1     digest_0.6.27   utf8_1.1.4      crayon_1.4.1
 [5] IRdisplay_0.7.0 repr_1.1.0      lifecycle_1.0.0 jsonlite_1.7.2
 [9] evaluate_0.14   pillar_1.6.1    rlang_0.4.11    uuid_0.1-4
[13] vctrs_0.3.8     ellipsis_0.3.2  IRkernel_1.1.1  tools_3.6.3
[17] compiler_3.6.3  base64enc_0.1-3 pbdZMQ_0.3-4    htmltools_0.5.0

In [1]:
install.packages('Packages/B2BApp_2.0.0.tar.gz',repos = NULL)
options(scipen = 10000)
options(stringsAsFactors = F)
set.seed(1234)

Installing package into ‘/home/jupyter/.R/library’
(as ‘lib’ is unspecified)

In [2]:
#library(tidyverse)
library(B2BApp)

Loading required package: tidyverse

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.3     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
dim(data_XyZ)

[1] 5850  109

## Set up sample test inputs for both JSON and CSV
- Sample inputs to test the output from the run_mmm_app function 
- The csv output is used in the download data and the json is used for the UI
- Use the inputs in the run_mmm_app function to get the outputs
- The JSON output consists of two parts:
    - `summary` - Which outputs the summary of the Footprint
    - `spend` - Which outputs the DMA level spend by media
- The CSV outputs just the spend metrics by DMA and footprints

In [5]:
test_input_json = list('Input_OPT_budget' = 1650000,
'Input_SDL_budget' = 900000,
'input_period' = 'Q3',                      
'Input_OPT_crosschannel_imp' = 67500000,
'Input_SDL_crosschannel_imp' = 10000000,
'flight_flag_radio_OPT' = T,
'flight_flag_radio_SDL' = T,
'flight_flag_DRTV_OPT' = T,
'flight_flag_DRTV_SDL' = T,
'output_type' = 'json' 
)

In [12]:
test_input_csv = list('Input_OPT_budget' = 1650000,
'Input_SDL_budget' = 900000,
'input_period' = 'Q2',                      
'Input_OPT_crosschannel_imp' = 67500000,
'Input_SDL_crosschannel_imp' = 10000000,
'flight_flag_radio_OPT' = T,
'flight_flag_radio_SDL' = T,
'flight_flag_DRTV_OPT' = T,
'flight_flag_DRTV_SDL' = T,
'output_type' = 'csv' 
)

In [7]:
test_res_json <- run_b2b_app(test_input_json)

Adding missing grouping variables: `qy`

In [8]:
test_res_json

$summary
  name Cross Channel Impressions Gross Adds id __parent __color expanded
1  USA                77,500,000     17,099  1   parent #000000     true
2 EAST                67,500,000     10,513  2        1 #0084d6    false
3 WEST                10,000,000      6,586  3        1 #ff7f32    false

$spend
  name Total Spend $(000) DRTV Digital Paid Search Direct Mail Social Radio id
1  USA             $2,550 $678    $587        $342        $326   $321  $297  1
2 EAST             $1,650 $384    $392        $241        $240   $193  $200  2
3 WEST               $900 $294    $195        $100         $86   $128   $97  3
  __parent __color expanded
1   parent #000000     true
2        1 #0084d6    false
3        1 #ff7f32    false

In [9]:
test_res_json$summary

  name Cross Channel Impressions Gross Adds id __parent __color expanded
1 USA  77,500,000                17,099     1  parent   #000000 true
2 EAST 67,500,000                10,513     2  1        #0084d6 false
3 WEST 10,000,000                 6,586     3  1        #ff7f32 false

In [14]:
test_res_csv <- run_b2b_app(test_input_csv)

Adding missing grouping variables: `qy`

In [15]:
test_res_csv

  Footprint Total Spend $(000) [Q2] DRTV Digital Paid Search Direct Mail Social
1 USA       $2,550                  $678 $587    $342        $326        $321
2 EAST      $1,650                  $384 $392    $241        $240        $193
3 WEST      $900                    $294 $195    $100        $86         $128
  Radio Gross Adds Cross Channel Impressions
1 $297  18,115     77,500,000
2 $200  11,350     67,500,000
3 $97    6,766     10,000,000

### Test Case generation

In [48]:
all_sliders_df <- read.csv('Packages/All_Sliders_Details.csv')
all_sliders_df

   Case          Brand      Minimum  Maximum   Increment Number.of.Increments
1  Both On       Optimum     1590000   2820000  30000    41
2  DRTV Off      Optimum     1200000   2130000  30000    31
3  Both Off      Optimum      990000   1740000  30000    25
4  Radio Off     Optimum     1380000   2460000  30000    36
5  Cross Channel Optimum    69000000 127500000 750000    78
6  Both On       Suddenlink   900000   1590000  30000    23
7  DRTV Off      Suddenlink   620000   1060000  20000    22
8  Both Off      Suddenlink   520000    900000  20000    19
9  Radio Off     Suddenlink   810000   1410000  30000    20
10 Cross Channel Suddenlink 10950000  20100000 150000    61

In [107]:
opt_cs_imp_vec <- all_sliders_df %>%
              filter(Brand == 'Optimum' & Case == 'Cross Channel') %>%
              select(Minimum,Maximum) %>%
              unlist()

opt_cs_imp_vec

  Minimum   Maximum
 69000000 127500000

In [108]:
opt_both_off_budget_vec = all_sliders_df %>%
              filter(Brand == 'Optimum' & Case == 'Both Off') %>%
              select(Minimum,Maximum) %>%
              unlist()
opt_both_off_budget_vec

Minimum Maximum
 990000 1740000

In [109]:
opt_both_on_budget_vec = all_sliders_df %>%
              filter(Brand == 'Optimum' & Case == 'Both On') %>%
              select(Minimum,Maximum) %>%
              unlist()
opt_both_on_budget_vec

Minimum Maximum
1590000 2820000

In [110]:
opt_drtv_off_budget_vec = all_sliders_df %>%
              filter(Brand == 'Optimum' & Case == 'DRTV Off') %>%
              select(Minimum,Maximum) %>%
              unlist()
opt_drtv_off_budget_vec

Minimum Maximum
1200000 2130000

In [111]:
opt_radio_off_budget_vec = all_sliders_df %>%
              filter(Brand == 'Optimum' & Case == 'Radio Off') %>%
              select(Minimum,Maximum) %>%
              unlist()
opt_radio_off_budget_vec

Minimum Maximum
1380000 2460000

In [112]:
sdl_cs_imp_vec <- all_sliders_df %>%
              filter(Brand == 'Suddenlink' & Case == 'Cross Channel') %>%
              select(Minimum,Maximum) %>%
              unlist()

sdl_cs_imp_vec

 Minimum  Maximum
10950000 20100000

In [113]:
sdl_both_on_budget_vec = all_sliders_df %>%
              filter(Brand == 'Suddenlink' & Case == 'Both On') %>%
              select(Minimum,Maximum) %>%
              unlist()
sdl_both_on_budget_vec

Minimum Maximum
 900000 1590000

In [114]:
sdl_both_off_budget_vec = all_sliders_df %>%
              filter(Brand == 'Suddenlink' & Case == 'Both Off') %>%
              select(Minimum,Maximum) %>%
              unlist()
sdl_both_off_budget_vec

Minimum Maximum
 520000  900000

In [115]:
sdl_drtv_off_budget_vec = all_sliders_df %>%
              filter(Brand == 'Suddenlink' & Case == 'DRTV Off') %>%
              select(Minimum,Maximum) %>%
              unlist()
sdl_drtv_off_budget_vec

Minimum Maximum
 620000 1060000

In [116]:
sdl_radio_off_budget_vec = all_sliders_df %>%
              filter(Brand == 'Suddenlink' & Case == 'Radio Off') %>%
              select(Minimum,Maximum) %>%
              unlist()
sdl_radio_off_budget_vec

Minimum Maximum
 810000 1410000

In [117]:
generate_test_cases <- function(input,output){
    input_df <- data.frame('key' = names(input),'value' = as.character(unlist(input)))
    ncol_final = max(ncol(input_df),ncol(output))
    ncol_input = ncol(input_df)
    nrow_input = nrow(input_df)
    ncol_diff = ncol_final - ncol_input


    final_inputs_df = data.frame(matrix(nrow = 0,ncol = ncol_final),stringsAsFactors = F)

    ##Create dummy columns for the input df to make it have the same columns as test_res_csv
    dummy_df = data.frame(matrix(rep(NA,ncol_diff*nrow_input),nrow = nrow_input,ncol = ncol_diff),stringsAsFactors = F)



    input_df = cbind(input_df,dummy_df)

    colnames(input_df) <- paste0('X',c(1:ncol_final))
    #output <- data.frame(output,stringsAsFactors = F)
    output = rbind(colnames(output),output)
    colnames(output) = paste0('X',c(1:ncol_final))

    final_inputs_df = rbind(input_df,output)
    
    return(final_inputs_df)
}

In [118]:
gen_b2b_test_cases <- function(opt_budget_vec,
                               sdl_budget_vec,
                               opt_drtv_flag = T,
                               sdl_drtv_flag = T,
                               opt_radio_flag = T,
                               sdl_radio_flag = T,
                               id_start = 1){
    
    output_df = data.frame(matrix(nrow=0,ncol=7))
    output_list = list()
    ##Generate the combinations of both vectors
    cases_df <- crossing(opt_budget_vec,sdl_budget_vec)
   
    
    
    idx <- c(1:nrow(cases_df))
    
   
    
    for(id in idx){
        opt_drtv_flag = T
        opt_radio_flag = T
        
        sdl_radio_flag = T
        sdl_drtv_flag = T
        
        budget_vec = cases_df %>% slice(id) %>% unlist(use.names = FALSE)
        quarter <- paste0('Q',sample(1:4,size = 1,replace = T))
        
        opt_cs_imp <- sample(opt_cs_imp_vec,size = 1, replace = T)
        sdl_cs_imp <- sample(sdl_cs_imp_vec,size = 1,replace = T)
        
        #opt_emails <- sample(c(70000,126000),size = 1, replace = T)
        #sdl_emails <- sample(c(16500,30000),size = 1, replace = T)
        
        opt_budget <- budget_vec[1]
        sdl_budget <- budget_vec[2]
        
        ##Set the respective flag to False if the budget matches the slider budgets for Optimum
        if(opt_budget%in%opt_both_off_budget_vec){
            opt_drtv_flag = F
            opt_radio_flag = F
        }else if(opt_budget%in%opt_drtv_off_budget_vec){
            opt_drtv_flag = F
        }else if(opt_budget%in%opt_radio_off_budget_vec){
            opt_radio_flag = F
        }
            
        ##Set the respective flag to False if the budget matches the slider budgets for Suddenlink
        if(sdl_budget%in%sdl_both_off_budget_vec){
            sdl_drtv_flag = F
            sdl_radio_flag = F
        }else if(sdl_budget%in%sdl_drtv_off_budget_vec){
            sdl_drtv_flag = F
        }else if(sdl_budget%in%sdl_radio_off_budget_vec){
            sdl_radio_flag = F
        }
            
        
        
        #cat(budget_vec)
        #cat('\n')
        cat(sprintf('OPT budget: %s\n',format_money(budget_vec[1],0)))
        cat(sprintf('SDL budget: %s\n',format_money(budget_vec[2],0)))
        cat(sprintf('OPT CS imps:%s\n',format(opt_cs_imp,big.mark = ',')))
        cat(sprintf('SDL CS imps:%s\n',format(sdl_cs_imp,big.mark = ',')))
        cat(sprintf('Quarter selected: %s\n',quarter))
        
        
        test_input_case = list('Input_OPT_budget' = budget_vec[1],
                                'Input_SDL_budget' = budget_vec[2],
                                'input_period' = quarter,                       
                                'Input_OPT_crosschannel_imp' = opt_cs_imp,
                                'Input_SDL_crosschannel_imp' = sdl_cs_imp,
                                #'Input_OPT_email_sent' = opt_emails,
                                #'Input_SDL_email_sent' = sdl_emails,
                                'flight_flag_radio_OPT' = opt_radio_flag,
                                'flight_flag_radio_SDL' = sdl_radio_flag,
                                'flight_flag_DRTV_OPT' = opt_drtv_flag,
                                'flight_flag_DRTV_SDL' = sdl_drtv_flag,
                                'output_type' = 'csv' 
                                )
        
        gen_output <- run_b2b_app(test_input_case)
        
        test_case <- generate_test_cases(test_input_case,gen_output)
        ncol_diff <- ncol(gen_output) - 1
        
        ##Create dummy columns for the input df to make it have the same columns as test_res_csv
        dummy_df = data.frame(matrix(rep(NA,ncol_diff*1),nrow = 1,ncol = ncol_diff),stringsAsFactors = F)
        
        case_df <- data.frame(id_start)
        case_df <- cbind(case_df,dummy_df)
        colnames(case_df) <- paste('X',rep(1:ncol(case_df)),sep='')
        
        temp_df <- rbind(colnames(gen_output),gen_output)
        colnames(temp_df) <-  paste('X',rep(1:ncol(case_df)),sep='')
        
        temp_df <- rbind(case_df,temp_df)
        
        output_name <- paste0('case',idx)
        temp_list <- list(test_case)
        names(temp_list) <- paste('case',id,sep = '')
        output_list <- append(output_list,temp_list)
        output_df <- rbind(output_df,temp_df)
        id_start <- id_start + 1
        
    }
    
    return(list('case_df' = output_df,
                'case_list' = output_list))
}

In [135]:
opt_budget_vec <- c(opt_both_on_budget_vec,opt_both_off_budget_vec,opt_drtv_off_budget_vec,opt_radio_off_budget_vec)
sdl_budget_vec <- c(sdl_both_on_budget_vec,sdl_both_off_budget_vec,sdl_drtv_off_budget_vec,sdl_radio_off_budget_vec)

In [139]:
unique(sdl_budget_vec)

[1]  900000 1590000  520000  620000 1060000  810000 1410000

In [136]:
crossing(opt_budget_vec,sdl_budget_vec)

   opt_budget_vec sdl_budget_vec
1   990000         520000
2   990000         620000
3   990000         810000
4   990000         900000
5   990000        1060000
6   990000        1410000
7   990000        1590000
8  1200000         520000
9  1200000         620000
10 1200000         810000
11 1200000         900000
12 1200000        1060000
13 1200000        1410000
14 1200000        1590000
15 1380000         520000
16 1380000         620000
17 1380000         810000
18 1380000         900000
19 1380000        1060000
20 1380000        1410000
21 1380000        1590000
22 1590000         520000
23 1590000         620000
24 1590000         810000
25 1590000         900000
26 1590000        1060000
27 1590000        1410000
28 1590000        1590000
29 1740000         520000
30 1740000         620000
31 1740000         810000
32 1740000         900000
33 1740000        1060000
34 1740000        1410000
35 1740000        1590000
36 2130000         520000
37 2130000         620000
38 2130000         810000
39 2130000         900000
40 2130000        1060000
41 2130000        1410000
42 2130000        1590000
43 2460000         520000
44 2460000         620000
45 2460000         810000
46 2460000         900000
47 2460000        1060000
48 2460000        1410000
49 2460000        1590000
50 2820000         520000
51 2820000         620000
52 2820000         810000
53 2820000         900000
54 2820000        1060000
55 2820000        1410000
56 2820000        1590000

In [123]:
res <- gen_b2b_test_cases(opt_budget_vec,sdl_budget_vec)

OPT budget: $990,000
SDL budget: $520,000
OPT CS imps:127,500,000
SDL CS imps:20,100,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $990,000
SDL budget: $620,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q1

Adding missing grouping variables: `qy`

OPT budget: $990,000
SDL budget: $810,000
OPT CS imps:127,500,000
SDL CS imps:20,100,000
Quarter selected: Q1

Adding missing grouping variables: `qy`

OPT budget: $990,000
SDL budget: $900,000
OPT CS imps:69,000,000
SDL CS imps:10,950,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $990,000
SDL budget: $1,060,000
OPT CS imps:69,000,000
SDL CS imps:10,950,000
Quarter selected: Q4

Adding missing grouping variables: `qy`

OPT budget: $990,000
SDL budget: $1,410,000
OPT CS imps:69,000,000
SDL CS imps:10,950,000
Quarter selected: Q2

Adding missing grouping variables: `qy`

OPT budget: $990,000
SDL budget: $1,590,000
OPT CS imps:127,500,000
SDL CS imps:20,100,000
Quarter selected: Q1

Adding missing grouping variables: `qy`

OPT budget: $1,200,000
SDL budget: $520,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q2

Adding missing grouping variables: `qy`

OPT budget: $1,200,000
SDL budget: $620,000
OPT CS imps:127,500,000
SDL CS imps:20,100,000
Quarter selected: Q1

Adding missing grouping variables: `qy`

OPT budget: $1,200,000
SDL budget: $810,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $1,200,000
SDL budget: $900,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q2

Adding missing grouping variables: `qy`

OPT budget: $1,200,000
SDL budget: $1,060,000
OPT CS imps:127,500,000
SDL CS imps:20,100,000
Quarter selected: Q2

Adding missing grouping variables: `qy`

OPT budget: $1,200,000
SDL budget: $1,410,000
OPT CS imps:69,000,000
SDL CS imps:10,950,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $1,200,000
SDL budget: $1,590,000
OPT CS imps:127,500,000
SDL CS imps:10,950,000
Quarter selected: Q1

Adding missing grouping variables: `qy`

OPT budget: $1,380,000
SDL budget: $520,000
OPT CS imps:127,500,000
SDL CS imps:10,950,000
Quarter selected: Q1

Adding missing grouping variables: `qy`

OPT budget: $1,380,000
SDL budget: $620,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $1,380,000
SDL budget: $810,000
OPT CS imps:127,500,000
SDL CS imps:20,100,000
Quarter selected: Q4

Adding missing grouping variables: `qy`

OPT budget: $1,380,000
SDL budget: $900,000
OPT CS imps:127,500,000
SDL CS imps:20,100,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $1,380,000
SDL budget: $1,060,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q4

Adding missing grouping variables: `qy`

OPT budget: $1,380,000
SDL budget: $1,410,000
OPT CS imps:127,500,000
SDL CS imps:20,100,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $1,380,000
SDL budget: $1,590,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q1

Adding missing grouping variables: `qy`

OPT budget: $1,590,000
SDL budget: $520,000
OPT CS imps:69,000,000
SDL CS imps:10,950,000
Quarter selected: Q2

Adding missing grouping variables: `qy`

OPT budget: $1,590,000
SDL budget: $620,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q4

Adding missing grouping variables: `qy`

OPT budget: $1,590,000
SDL budget: $810,000
OPT CS imps:127,500,000
SDL CS imps:10,950,000
Quarter selected: Q4

Adding missing grouping variables: `qy`

OPT budget: $1,590,000
SDL budget: $900,000
OPT CS imps:127,500,000
SDL CS imps:10,950,000
Quarter selected: Q2

Adding missing grouping variables: `qy`

OPT budget: $1,590,000
SDL budget: $1,060,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q1

Adding missing grouping variables: `qy`

OPT budget: $1,590,000
SDL budget: $1,410,000
OPT CS imps:69,000,000
SDL CS imps:10,950,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $1,590,000
SDL budget: $1,590,000
OPT CS imps:69,000,000
SDL CS imps:10,950,000
Quarter selected: Q1

Adding missing grouping variables: `qy`

OPT budget: $1,740,000
SDL budget: $520,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q4

Adding missing grouping variables: `qy`

OPT budget: $1,740,000
SDL budget: $620,000
OPT CS imps:69,000,000
SDL CS imps:10,950,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $1,740,000
SDL budget: $810,000
OPT CS imps:127,500,000
SDL CS imps:10,950,000
Quarter selected: Q2

Adding missing grouping variables: `qy`

OPT budget: $1,740,000
SDL budget: $900,000
OPT CS imps:127,500,000
SDL CS imps:20,100,000
Quarter selected: Q2

Adding missing grouping variables: `qy`

OPT budget: $1,740,000
SDL budget: $1,060,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q4

Adding missing grouping variables: `qy`

OPT budget: $1,740,000
SDL budget: $1,410,000
OPT CS imps:69,000,000
SDL CS imps:10,950,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $1,740,000
SDL budget: $1,590,000
OPT CS imps:127,500,000
SDL CS imps:10,950,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $2,130,000
SDL budget: $520,000
OPT CS imps:127,500,000
SDL CS imps:20,100,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $2,130,000
SDL budget: $620,000
OPT CS imps:127,500,000
SDL CS imps:10,950,000
Quarter selected: Q2

Adding missing grouping variables: `qy`

OPT budget: $2,130,000
SDL budget: $810,000
OPT CS imps:69,000,000
SDL CS imps:10,950,000
Quarter selected: Q4

Adding missing grouping variables: `qy`

OPT budget: $2,130,000
SDL budget: $900,000
OPT CS imps:127,500,000
SDL CS imps:20,100,000
Quarter selected: Q1

Adding missing grouping variables: `qy`

OPT budget: $2,130,000
SDL budget: $1,060,000
OPT CS imps:127,500,000
SDL CS imps:20,100,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $2,130,000
SDL budget: $1,410,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $2,130,000
SDL budget: $1,590,000
OPT CS imps:127,500,000
SDL CS imps:10,950,000
Quarter selected: Q4

Adding missing grouping variables: `qy`

OPT budget: $2,460,000
SDL budget: $520,000
OPT CS imps:127,500,000
SDL CS imps:20,100,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $2,460,000
SDL budget: $620,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $2,460,000
SDL budget: $810,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q2

Adding missing grouping variables: `qy`

OPT budget: $2,460,000
SDL budget: $900,000
OPT CS imps:69,000,000
SDL CS imps:10,950,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $2,460,000
SDL budget: $1,060,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $2,460,000
SDL budget: $1,410,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q4

Adding missing grouping variables: `qy`

OPT budget: $2,460,000
SDL budget: $1,590,000
OPT CS imps:127,500,000
SDL CS imps:10,950,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $2,820,000
SDL budget: $520,000
OPT CS imps:69,000,000
SDL CS imps:10,950,000
Quarter selected: Q4

Adding missing grouping variables: `qy`

OPT budget: $2,820,000
SDL budget: $620,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $2,820,000
SDL budget: $810,000
OPT CS imps:69,000,000
SDL CS imps:10,950,000
Quarter selected: Q2

Adding missing grouping variables: `qy`

OPT budget: $2,820,000
SDL budget: $900,000
OPT CS imps:127,500,000
SDL CS imps:10,950,000
Quarter selected: Q2

Adding missing grouping variables: `qy`

OPT budget: $2,820,000
SDL budget: $1,060,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q2

Adding missing grouping variables: `qy`

OPT budget: $2,820,000
SDL budget: $1,410,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q3

Adding missing grouping variables: `qy`

OPT budget: $2,820,000
SDL budget: $1,590,000
OPT CS imps:69,000,000
SDL CS imps:20,100,000
Quarter selected: Q1

Adding missing grouping variables: `qy`

In [124]:
all_casesdf<- res$case_df
all_casesdf

    X1        X2                      X3      X4          X5
1   1         NA                      NA      NA          NA
2   Footprint Total Spend $(000) [Q3] Digital Paid Search Social
3   USA       $1,510                  $568    $349        $333
4   EAST      $990                    $372    $242        $197
5   WEST      $520                    $195    $108        $136
6   2         NA                      NA      NA          NA
7   Footprint Total Spend $(000) [Q1] Digital Paid Search Social
8   USA       $1,610                  $571    $347        $334
9   EAST      $990                    $372    $242        $197
10  WEST      $620                    $199    $105        $137
11  3         NA                      NA      NA          NA
12  Footprint Total Spend $(000) [Q1] Digital Paid Search Social
13  USA       $1,800                  $567    $344        $326
14  EAST      $990                    $372    $242        $197
15  WEST      $810                    $195    $103        $129
16  4         NA                      NA      NA          NA
17  Footprint Total Spend $(000) [Q3] Digital Social      Paid Search
18  USA       $1,890                  $729    $423        $413
19  EAST      $990                    $372    $197        $242
20  WEST      $900                    $357    $226        $171
21  5         NA                      NA      NA          NA
22  Footprint Total Spend $(000) [Q4] Digital Social      Paid Search
23  USA       $2,050                  $725    $418        $409
24  EAST      $990                    $372    $197        $242
25  WEST      $1,060                  $353    $220        $167
26  6         NA                      NA      NA          NA
27  Footprint Total Spend $(000) [Q2] Digital DRTV        Social
28  USA       $2,400                  $720    $540        $416
29  EAST      $990                    $372    $0          $197
30  WEST      $1,410                  $348    $540        $219
⋮   ⋮         ⋮                       ⋮       ⋮           ⋮
251 51        NA                      NA      NA          NA
252 Footprint Total Spend $(000) [Q3] Digital DRTV        Paid Search
253 USA       $3,440                  $882    $714        $521
254 EAST      $2,820                  $683    $714        $415
255 WEST      $620                    $199    $0          $105
256 52        NA                      NA      NA          NA
257 Footprint Total Spend $(000) [Q2] DRTV    Digital     Paid Search
258 USA       $3,630                  $1,010  $878        $518
259 EAST      $2,820                  $714    $683        $415
260 WEST      $810                    $296    $195        $103
261 53        NA                      NA      NA          NA
262 Footprint Total Spend $(000) [Q2] Digital DRTV        Paid Search
263 USA       $3,720                  $1,040  $714        $586
264 EAST      $2,820                  $683    $714        $415
265 WEST      $900                    $357    $0          $171
266 54        NA                      NA      NA          NA
267 Footprint Total Spend $(000) [Q2] Digital DRTV        Paid Search
268 USA       $3,880                  $1,036  $714        $583
269 EAST      $2,820                  $683    $714        $415
270 WEST      $1,060                  $353    $0          $167
271 55        NA                      NA      NA          NA
272 Footprint Total Spend $(000) [Q3] DRTV    Digital     Paid Search
273 USA       $4,230                  $1,254  $1,031      $577
274 EAST      $2,820                  $714    $683        $415
275 WEST      $1,410                  $540    $348        $162
276 56        NA                      NA      NA          NA
277 Footprint Total Spend $(000) [Q1] DRTV    Digital     Paid Search
278 USA       $4,410                  $1,253  $1,033      $576
279 EAST      $2,820                  $714    $683        $415
280 WEST      $1,590                  $539    $350        $161
    X6          X7          X8          X9         X10
1   NA          NA          NA          NA         NA
2   Direct Mail DRTV        Radio       Gross Adds Cross Channel Impressions
3   $260        $0          $0          16,722     147,600,000
4   $179        $0          $0          10,383     127,500,000
5   $81         $0          $0           6,339      20,100,000
6   NA          NA          NA          NA         NA
7   Direct Mail Radio       DRTV        Gross Adds Cross Channel Impressions
8   $262        $95         $0          15,225     89,100,000
9   $179        $0          $0           9,580     69,000,000
10  $83         $95         $0           5,645     20,100,000
11  NA          NA          NA          NA         NA
12  DRTV        Direct Mail Radio       Gross Adds Cross Channel Impressions
13  $296        $266        $0          15,862     147,600,000
14  $0          $179        $0           9,840     127,500,000
15  $296        $87         $0           6,022      20,100,000
16  NA          NA          NA          NA         NA
17  Direct Mail DRTV        Radio       Gross Adds Cross Channel Impressions
18  $325        $0          $0          16,735     79,950,000
19  $179        $0          $0          10,123     69,000,000
20  $146        $0          $0           6,612     10,950,000
21  NA          NA          NA          NA         NA
22  Direct Mail Radio       DRTV        Gross Adds Cross Channel Impressions
23  $324        $174        $0          15,587     79,950,000
24  $179        $0          $0           9,435     69,000,000
25  $145        $174        $0           6,152     10,950,000
26  NA          NA          NA          NA         NA
27  Paid Search Direct Mail Radio       Gross Adds Cross Channel Impressions
28  $403        $320        $0          19,116     79,950,000
29  $242        $179        $0          10,960     69,000,000
30  $162        $142        $0           8,157     10,950,000
⋮   ⋮           ⋮           ⋮           ⋮          ⋮
251 NA          NA          NA          NA         NA
252 Social      Radio       Direct Mail Gross Adds Cross Channel Impressions
253 $477        $467        $380        18,581     89,100,000
254 $340        $372        $296        12,203     69,000,000
255 $137        $95         $83          6,378     20,100,000
256 NA          NA          NA          NA         NA
257 Social      Direct Mail Radio       Gross Adds Cross Channel Impressions
258 $469        $384        $372        19,909     79,950,000
259 $340        $296        $372        13,040     69,000,000
260 $129        $87         $0           6,870     10,950,000
261 NA          NA          NA          NA         NA
262 Social      Direct Mail Radio       Gross Adds Cross Channel Impressions
263 $566        $442        $372        20,091     138,450,000
264 $340        $296        $372        13,300     127,500,000
265 $226        $146        $0           6,792      10,950,000
266 NA          NA          NA          NA         NA
267 Social      Radio       Direct Mail Gross Adds Cross Channel Impressions
268 $560        $547        $441        20,208     89,100,000
269 $340        $372        $296        13,040     69,000,000
270 $220        $174        $145         7,169     20,100,000
271 NA          NA          NA          NA         NA
272 Social      Direct Mail Radio       Gross Adds Cross Channel Impressions
273 $558        $438        $372        20,245     89,100,000
274 $340        $296        $372        12,203     69,000,000
275 $219        $142        $0           8,042     20,100,000
276 NA          NA          NA          NA         NA
277 Social      Radio       Direct Mail Gross Adds Cross Channel Impressions
278 $561        $546        $442        19,060     89,100,000
279 $340        $372        $296        11,660     69,000,000
280 $222        $174        $145         7,400     20,100,000

In [125]:
write.table(all_casesdf,'test_cases_pkg/All_Cases_Combined.csv',row.names = F,na = '',sep = ',',col.names = F)

In [126]:
all_cases_list <- res$case_list
names(all_cases_list)

 [1] "case1"  "case2"  "case3"  "case4"  "case5"  "case6"  "case7"  "case8"
 [9] "case9"  "case10" "case11" "case12" "case13" "case14" "case15" "case16"
[17] "case17" "case18" "case19" "case20" "case21" "case22" "case23" "case24"
[25] "case25" "case26" "case27" "case28" "case29" "case30" "case31" "case32"
[33] "case33" "case34" "case35" "case36" "case37" "case38" "case39" "case40"
[41] "case41" "case42" "case43" "case44" "case45" "case46" "case47" "case48"
[49] "case49" "case50" "case51" "case52" "case53" "case54" "case55" "case56"

In [127]:
res$case_list$case1

   X1                         X2                      X3      X4
1  Input_OPT_budget           990000                  NA      NA
2  Input_SDL_budget           520000                  NA      NA
3  input_period               Q3                      NA      NA
4  Input_OPT_crosschannel_imp 127500000               NA      NA
5  Input_SDL_crosschannel_imp 20100000                NA      NA
6  flight_flag_radio_OPT      FALSE                   NA      NA
7  flight_flag_radio_SDL      FALSE                   NA      NA
8  flight_flag_DRTV_OPT       FALSE                   NA      NA
9  flight_flag_DRTV_SDL       FALSE                   NA      NA
10 output_type                csv                     NA      NA
11 Footprint                  Total Spend $(000) [Q3] Digital Paid Search
12 USA                        $1,510                  $568    $349
13 EAST                       $990                    $372    $242
14 WEST                       $520                    $195    $108
   X5     X6          X7   X8    X9         X10
1  NA     NA          NA   NA    NA         NA
2  NA     NA          NA   NA    NA         NA
3  NA     NA          NA   NA    NA         NA
4  NA     NA          NA   NA    NA         NA
5  NA     NA          NA   NA    NA         NA
6  NA     NA          NA   NA    NA         NA
7  NA     NA          NA   NA    NA         NA
8  NA     NA          NA   NA    NA         NA
9  NA     NA          NA   NA    NA         NA
10 NA     NA          NA   NA    NA         NA
11 Social Direct Mail DRTV Radio Gross Adds Cross Channel Impressions
12 $333   $260        $0   $0    16,722     147,600,000
13 $197   $179        $0   $0    10,383     127,500,000
14 $136   $81         $0   $0     6,339      20,100,000

In [128]:
for(name in names(res$case_list)){
    output_df <- all_cases_list[[name]]
    fname <- paste0('test_cases_pkg/test','_b2b_all_cases_',name,'.csv')
    write.table(output_df,fname,row.names = F,na = '',sep = ',',col.names = F)
}

In [129]:
##Generate summary of all cases
col_names <- t(res$case_list$case1[c(1:9),c('X1','X2')])[1,]
col_names

                           1                            2
          "Input_OPT_budget"           "Input_SDL_budget"
                           3                            4
              "input_period" "Input_OPT_crosschannel_imp"
                           5                            6
"Input_SDL_crosschannel_imp"      "flight_flag_radio_OPT"
                           7                            8
     "flight_flag_radio_SDL"       "flight_flag_DRTV_OPT"
                           9
      "flight_flag_DRTV_SDL"

In [130]:
summary_case_df <- data.frame(matrix(nrow = 0 ,ncol = 9))
colnames(summary_case_df) <- col_names
summary_case_df

     Input_OPT_budget Input_SDL_budget input_period Input_OPT_crosschannel_imp
     Input_SDL_crosschannel_imp flight_flag_radio_OPT flight_flag_radio_SDL
     flight_flag_DRTV_OPT flight_flag_DRTV_SDL

In [131]:
for(case in all_cases_list){
    summary_data <- t(t(case[c(1:9),c('X1','X2')])[2,])
    summary_case_df <- rbind(summary_case_df,data.frame(summary_data))
}
colnames(summary_case_df) <- col_names

In [132]:
glimpse(summary_case_df)

Rows: 56
Columns: 9
$ Input_OPT_budget           <chr> "990000", "990000", "990000", "990000", "99…
$ Input_SDL_budget           <chr> "520000", "620000", "810000", "900000", "10…
$ input_period               <chr> "Q3", "Q1", "Q1", "Q3", "Q4", "Q2", "Q1", "…
$ Input_OPT_crosschannel_imp <chr> "127500000", "69000000", "127500000", "6900…
$ Input_SDL_crosschannel_imp <chr> "20100000", "20100000", "20100000", "109500…
$ flight_flag_radio_OPT      <chr> "FALSE", "FALSE", "FALSE", "FALSE", "FALSE"…
$ flight_flag_radio_SDL      <chr> "FALSE", "TRUE", "FALSE", "FALSE", "TRUE", …
$ flight_flag_DRTV_OPT       <chr> "FALSE", "FALSE", "FALSE", "FALSE", "FALSE"…
$ flight_flag_DRTV_SDL       <chr> "FALSE", "FALSE", "TRUE", "FALSE", "FALSE",…

In [133]:
summary_case_df <- summary_case_df %>%
                    #mutate_at(.vars = vars(matches('flight_flag.*')),.funs = ~recode(.,"TRUE" = 1,"FALSE" = 0)) %>%
                    mutate(Case = row_number()) %>%
                    mutate_at(.vars = vars(matches('flight_flag*')),.funs = ~ifelse(.=='TRUE',1,0)) %>%
                    select(Case,everything())

summary_case_df

   Case Input_OPT_budget Input_SDL_budget input_period
1   1   990000           520000           Q3
2   2   990000           620000           Q1
3   3   990000           810000           Q1
4   4   990000           900000           Q3
5   5   990000           1060000          Q4
6   6   990000           1410000          Q2
7   7   990000           1590000          Q1
8   8   1200000          520000           Q2
9   9   1200000          620000           Q1
10 10   1200000          810000           Q3
11 11   1200000          900000           Q2
12 12   1200000          1060000          Q2
13 13   1200000          1410000          Q3
14 14   1200000          1590000          Q1
15 15   1380000          520000           Q1
16 16   1380000          620000           Q3
17 17   1380000          810000           Q4
18 18   1380000          900000           Q3
19 19   1380000          1060000          Q4
20 20   1380000          1410000          Q3
21 21   1380000          1590000          Q1
22 22   1590000          520000           Q2
23 23   1590000          620000           Q4
24 24   1590000          810000           Q4
25 25   1590000          900000           Q2
26 26   1590000          1060000          Q1
27 27   1590000          1410000          Q3
28 28   1590000          1590000          Q1
29 29   1740000          520000           Q4
30 30   1740000          620000           Q3
31 31   1740000          810000           Q2
32 32   1740000          900000           Q2
33 33   1740000          1060000          Q4
34 34   1740000          1410000          Q3
35 35   1740000          1590000          Q3
36 36   2130000          520000           Q3
37 37   2130000          620000           Q2
38 38   2130000          810000           Q4
39 39   2130000          900000           Q1
40 40   2130000          1060000          Q3
41 41   2130000          1410000          Q3
42 42   2130000          1590000          Q4
43 43   2460000          520000           Q3
44 44   2460000          620000           Q3
45 45   2460000          810000           Q2
46 46   2460000          900000           Q3
47 47   2460000          1060000          Q3
48 48   2460000          1410000          Q4
49 49   2460000          1590000          Q3
50 50   2820000          520000           Q4
51 51   2820000          620000           Q3
52 52   2820000          810000           Q2
53 53   2820000          900000           Q2
54 54   2820000          1060000          Q2
55 55   2820000          1410000          Q3
56 56   2820000          1590000          Q1
   Input_OPT_crosschannel_imp Input_SDL_crosschannel_imp flight_flag_radio_OPT
1  127500000                  20100000                   0
2  69000000                   20100000                   0
3  127500000                  20100000                   0
4  69000000                   10950000                   0
5  69000000                   10950000                   0
6  69000000                   10950000                   0
7  127500000                  20100000                   0
8  69000000                   20100000                   1
9  127500000                  20100000                   1
10 69000000                   20100000                   1
11 69000000                   20100000                   1
12 127500000                  20100000                   1
13 69000000                   10950000                   1
14 127500000                  10950000                   1
15 127500000                  10950000                   0
16 69000000                   20100000                   0
17 127500000                  20100000                   0
18 127500000                  20100000                   0
19 69000000                   20100000                   0
20 127500000                  20100000                   0
21 69000000                   20100000                   0
22 69000000                   10950000                   1
23 69000000                   20100000                   1
24 127500000                  10950000                   1
25 127500000                  10950000                   1
26 69000000                   20100000                   1
27 69000000                   10950000                   1
28 69000000                   10950000                   1
29 69000000                   20100000                   0
30 69000000                   10950000                   0
31 127500000                  10950000                   0
32 127500000                  20100000                   0
33 69000000                   20100000                   0
34 69000000                   10950000                   0
35 127500000                  10950000                   0
36 127500000                  20100000                   1
37 127500000                  10950000                   1
38 69000000                   10950000                   1
39 127500000                  20100000                   1
40 127500000                  20100000                   1
41 69000000                   20100000                   1
42 127500000                  10950000                   1
43 127500000                  20100000                   0
44 69000000                   20100000                   0
45 69000000                   20100000                   0
46 69000000                   10950000                   0
47 69000000                   20100000                   0
48 69000000                   20100000                   0
49 127500000                  10950000                   0
50 69000000                   10950000                   1
51 69000000                   20100000                   1
52 69000000                   10950000                   1
53 127500000                  10950000                   1
54 69000000                   20100000                   1
55 69000000                   20100000                   1
56 69000000                   20100000                   1
   flight_flag_radio_SDL flight_flag_DRTV_OPT flight_flag_DRTV_SDL
1  0                     0                    0
2  1                     0                    0
3  0                     0                    1
4  0                     0                    0
5  1                     0                    0
6  0                     0                    1
7  1                     0                    1
8  0                     0                    0
9  1                     0                    0
10 0                     0                    1
11 0                     0                    0
12 1                     0                    0
13 0                     0                    1
14 1                     0                    1
15 0                     1                    0
16 1                     1                    0
17 0                     1                    1
18 0                     1                    0
19 1                     1                    0
20 0                     1                    1
21 1                     1                    1
22 0                     1                    0
23 1                     1                    0
24 0                     1                    1
25 0                     1                    0
26 1                     1                    0
27 0                     1                    1
28 1                     1                    1
29 0                     0                    0
30 1                     0                    0
31 0                     0                    1
32 0                     0                    0
33 1                     0                    0
34 0                     0                    1
35 1                     0                    1
36 0                     0                    0
37 1                     0                    0
38 0                     0                    1
39 0                     0                    0
40 1                     0                    0
41 0                     0                    1
42 1                     0                    1
43 0                     1                    0
44 1                     1                    0
45 0                     1                    1
46 0                     1                    0
47 1                     1                    0
48 0                     1                    1
49 1                     1                    1
50 0                     1                    0
51 1                     1                    0
52 0                     1                    1
53 0                     1                    0
54 1                     1                    0
55 0                     1                    1
56 1                     1                    1

In [134]:
write.csv(summary_case_df,'test_cases_pkg/All_Cases_summary.csv',row.names = F)